$primaryColor: #000;

.banner {
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  gap: 10px;
  &_left {
    width: 87%;
    border: 1px solid rgba(46, 52, 86, 0.15);
    border-radius: 10px;
  }
  .banner_image {
    position: relative;
    width: 100%;
    .bg_img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 200px;
      animation: zoomIn;
      animation-duration: 1s;
    }
    .banner_icon {
      position: absolute;
      left: 18px;
      bottom: -10px;
      background: rgba(255, 255, 255, 0.58);
      backdrop-filter: blur(24.4645px);
      padding: 8px;
      border-radius: 15px;
    }
  }

  .left_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 22px;
    position: relative;
    width: 80%;
    .footer_logo {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 16px;
      letter-spacing: -0.02em;
      color: $primaryColor;
    }
    .footer-item {
      display: flex;
      align-items: center;
      gap: 12px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 116.3%;
      letter-spacing: -0.01em;
      color: $primaryColor;
      text-decoration: dotted;
      .item_name {
        display: block;
        border-bottom: 2px dotted $primaryColor;
        padding-bottom: 4px;
      }
    }
    .circle-dot {
      display: block;
      width: 8px;
      height: 8px;
      background: #d0d3db;
      border-radius: 50%;
    }
    .raiting {
      position: absolute;
      right: -20%;
      bottom: 30px;
      display: flex;
      align-items: center;
      gap: 6px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 116.3%;
      letter-spacing: -0.01em;
      color: $primaryColor;
    }
  }
  &_right {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 13%;
    min-height: 294.7px;
    background: #fff;
    padding: 10px;
    .menu_shop {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #2e3456;
      padding: 35px 40px;
      border-radius: 10px;
      &:hover {
        background: #2e3456;
        color: #fff;
      }
      .shop_title {
        color: #fff;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 116.3%;
        letter-spacing: -0.01em;
      }
    }
    .menu_recipes {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 35px 40px;
      border-radius: 10px;
      .recipes_title {
        color: rgba(46, 52, 86, 0.3);
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 116.3%;
        letter-spacing: -0.01em;
      }
      &:hover {
        background: #2e3456;
        svg {
          color: #fff;
        }
        .recipes_title {
          color: #fff;
        }
      }
    }
  }
}
.card-section {
  display: flex;
  margin-top: 20px;
  gap: 12px;
  width: 100%;
  overflow-y: scroll;
  z-index: 15;
  height: 200px;
  .card {
    min-width: 250px;
    height: 150px;
    display: block;
    z-index: 15;
    padding: 24px;
    position: relative;
    .shadow_box {
      position: absolute;
      width: 200px;
      height: 80px;
      display: block;
      left: 50%;
      transform: translate(-50%);
      bottom: 0;
      border-radius: 10px;
      z-index: -1000 !important;
    }
    &_title {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 116.3%;
      letter-spacing: -0.01em;
      color: #efebffe3;
    }
    &_subtitle {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.01em;
      color: #efebff;
      margin-top: 6px;
    }
    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 32px;
      background: #efebff;
      border-radius: 16px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      margin-top: 24px;
    }
    .image-bg {
      position: absolute;
      right: 0;
      bottom: -4px;
      img {
        z-index: -1;
        border-radius: 10px;
      }
    }
  }
  .card_limon {
    background: #ff7f10;
    position: relative;
    .shadow_box {
      box-shadow: 0px 35px 33px -20px rgba(255, 127, 16, 0.48);
      background: #ff7f10;
    }
    .card_btn {
      color: #ff7f10;
    }
  }
  .card_tomato {
    background: #f7491e;
    .text-br {
      width: 50px;
    }
    .shadow_box {
      box-shadow: 0px 35px 31px -21px rgba(247, 73, 30, 0.48);
      background: #f7491e;
    }
  }
  .card_spageti {
    background: #acc233;
    .card_btn {
      color: #acc233;
    }
    .shadow_box {
      box-shadow: 0px 35px 31px -21px rgba(172, 194, 51, 0.48);
      background: #acc233;
    }
  }
  .card_sale {
    background-color: #2f8cf6;
    .card_btn {
      color: #2f8cf6;
    }
    .shadow_box {
      box-shadow: 0px 35px 31px -21px rgba(47, 140, 246, 0.48);
      background: #2f8cf6;
    }
  }
  .card_test {
    background: #7753f6;
    .card_btn {
      color: #7753f6;
    }
    .shadow_box {
      box-shadow: 0px 35px 31px -21px rgba(119, 83, 246, 0.48);
      background: #7753f6;
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  &_item {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(192, 194, 204, 0.18);
    border-radius: 10px;
    padding: 17px 24px;
    cursor: pointer;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 116.3%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.5);
    &:hover {
      background: #fff;
      transition: all 0.3s ease;
      color: $primaryColor;
    }
  }
  .more_select {
    &::after {
      content: "\02C5";
      margin-left: 10px;
    }
  }
  &_icon {
    background: #fff;
    padding: 15px;
  }
}
.products {
  margin-top: 42px;
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title,
    .see_all {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 16px;
      letter-spacing: -0.02em;
      color: $primaryColor;
    }
    .see_all {
      &::after {
        content: "\003E";
        margin-left: 16px;
      }
    }
  }
  &_items {
    margin-top: 20px;
    padding: 15px;
    background: #fff;
    min-height: 282px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    .products_item {
      position: relative;
      width: 180px;
      .precent {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 38px;
        height: 38px;
        background: #d212351f;
        border-radius: 50%;
      }
      .like {
        position: absolute;
        top: 0;
        right: 0;
      }
      .product_name {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: $primaryColor;
      }
      .product_img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 16px;
        img {
          width: 130px;
          height: 130px;
          object-fit: cover;
          margin-left: 10px;
        }
      }
      .add_to_cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: -0.02em;
          color: $primaryColor;
        }
        .add_btn {
          width: 40px;
          height: 40px;
          background: #c0c2cc55;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          &::after {
            content: "\002B";
            font-size: 24px;
          }
        }
      }
      &[data-scroll="in"]:nth-child(1) {
        animation: zoomIn;
        animation-duration: 0.5s;
      }
      &[data-scroll="in"]:nth-child(2) {
        animation: zoomIn;
        animation-duration: 1s;
      }
      &[data-scroll="in"]:nth-child(3) {
        animation: zoomIn;
        animation-duration: 1.5s;
      }
      &[data-scroll="in"]:nth-child(4) {
        animation: zoomIn;
        animation-duration: 2s;
      }
      &[data-scroll="in"]:nth-child(5) {
        animation: zoomIn;
        animation-duration: 2.5s;
      }
    }
  }
}

.schedule {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background: #f8f8f8;
  border-radius: 10px;
  margin-bottom: 6px;
  padding-left: 36px !important;
  &::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: #45a524;
    position: absolute;
    left: 20px;
    border-radius: 50%;
  }
}
